.conrtainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.3rem;
    position: relative;
    padding: 1rem;
}
.imageContainer{
    position: relative;
    display: block;
    height: auto;
    aspect-ratio: 32/9 !important;
    overflow: hidden;
    border-radius: 5px;
    
}
.bannerImage{
    object-fit: cover;
    object-position: center center;
}