.registerContainer input{
    padding: 0.2rem;
    border-radius: 5px;
    outline: none;
    border: none;
}
.registerContainer input:valid {
  border: 1px solid rgb(66, 133, 66);
}
.registerContainer input:invalid {
  border: 1px solid rgb(156, 55, 55);
}