.container{
    height: 1.8rem;
    background-color: rgb(156, 55, 55);
    color: white;
    text-align: center;
    position: fixed;
    top: 2rem;
    width: calc(100% - 150px);
    left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .container{
        width: calc(100% - 80px);
        left: 80px;
    }
}